//primary
$uniBlue: #00295b;
$uniAltBlue: #2e3c49;
$uniDarkGrey: #5b5b5b;
$uniLightBlue: #eff1f3;
$textColor: #252525;

// SECONDARY
$uniRed: #8f1b2b;
$uniDarkRed: #5b1818;

// FONTS
$boldSans: 'libel_suitbold';
$sans: 'libel_suitregular';
$boldItalicSerif: 'questa_grandebold_italic';
$sansTwo: 'questa_sansregular';
$boldSansTwo: 'questa_sansbold';

// FONT SIZES
$texth1: 3.5em;
$texth2: 2em;
$texth3: 1.6em;
$texth4: 3.5em;
$texth5: 3.5em;

$text1: 1em;
$text2: 1.13em;
$text3: 1.25em;
$text4: 1.38em;